<strong>Olá, {{ organizer }}</strong>
<p>Houve uma inscrição em um meetup organizado por você, confira os detalhes abaixo:</p>
<p>
  <strong>Participante: </strong> {{ participant }} <br />
  <strong>Contato do participante: </strong> {{ email }} <br /><br />
  <strong>Meetup: </strong> {{ title }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <strong>Localização: </strong> {{ location }} <br />
</p>
